/* style.css */

body {
    background-color: rgb(255, 187, 215);
    font-family: 'Georgia, Times New Roman, serif';
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Georgia, Times New Roman, serif;
}

.content {
    padding: 20px
}

.linksect {
    padding: 20px
}